@model IEnumerable<MedicaTest.ViewModel.CarPartVM>
@using System.Globalization;

@{
    ViewData["Title"] = "List";
}

<h1>Wszystkie części</h1>

@if (ViewBag.DeleteError == true)
{
    <div class="form-group">
        <span class="text-danger"> Niestety nastąpił błąd podczas usuwania!.</span>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Added)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @( (item.Added != DateTime.MinValue) ? (item.Added?.ToString("H:mm:ss dd MMM yyyy", new CultureInfo("pl-pl"))) : "" )
                </td>
                <td>
                    @( (item.Modified != DateTime.MinValue) ? item.Modified?.ToString("H:mm:ss dd MMM yyyy ", new CultureInfo("pl-pl")) : "" )
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
