@model IEnumerable<MedicaTest.ViewModel.CarPartVM>
@using System.Globalization;

@{
    ViewData["Title"] = "List";
}

@section Header{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet" />
}




<h1>Wszystkie części</h1>

@if (ViewBag.DeleteError == true)
{
    <div class="form-group">
        <span class="text-danger"> Niestety nastąpił błąd podczas usuwania!.</span>
    </div>
}
<table id="table" data-toggle="table">
    <thead>
        <tr>
            <th data-field="Name" data-order='desc' data-sortable="true">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-field="Price" data-order='desc' data-sortable="true">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th data-field="Addd" data-order='desc' data-sortable="true">
                @Html.DisplayNameFor(model => model.Added)
            </th>
            <th data-field="Modi" data-order='desc' data-sortable="true">
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @( (item.Added != DateTime.MinValue) ? (item.Added?.ToString("H:mm:ss dd MMM yyyy", new CultureInfo("pl-pl"))) : "" )
                </td>
                <td>
                    @( (item.Modified != DateTime.MinValue) ? item.Modified?.ToString("H:mm:ss dd MMM yyyy ", new CultureInfo("pl-pl")) : "" )
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/site.js"></script>
}